.select_filter {
  padding: 0.8em 2.0em;
  border: 1px solid #303030;
  background: #fdd100;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -2px 2px 0 #000;
  /* font-size: 15px; */
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  height: 40px;
}